
h1{color:#155181ff;}
h3{color:#155181ff}

@font-face {
    font-family:Mighty Spidey ;
    src: url(mighty.spidey);
}

body{
    font-family:Mighty Spidey;
    margin:0;
    padding:20px;
    color:red;
    background-color: #8a272cff;
}

img{
    position:relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    z-index: 1;
}

h1{
   text-align: center;
}


h3{
    text-align: center;
 }

 input.placeholder {
    text-align: center;
}
.job {
    top:350x;
    
    left: 155px;
    position: absolute;
    border: none;
    font-size: 17;
    text-align: center;
}