
h1{color:rgb(255, 255, 255);}
h3{color:rgb(255, 255, 255)}


@font-face {
    font-family: Homoarakhn Regular;
    src: url(homoarakhn.regular.ttf);
}

body{
   
    margin:0;
    padding:20px;
    color:red;
    background-color: #8a272cff;
}



.main{
    width: 80%;
margin:0 auto;
}

img{
    position:relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    z-index: 1;
}

h1{
   border-radius: 25px;
   background-color: black;
   font-family:Homoarakhn Regular ;
   padding: 20px 0;
   text-align: center;
   font-size: 5vw;
   text-align: center;
   color: white;
   padding:3%;
}


h3{
    text-align: center;
    font-family:Homoarakhn Regular ;
    font-size: 5vw;
    padding:3%;
 }

 input.placeholder {
    text-align: center;
    font-size: 5vw;
}
.job {
    display: flex;
    justify-content: ;
}
/* top:350x; */
    
    /* left: 155px; */
    /* position: absolute; */
    /* border: none; */
    /* font-size: 17; */
    /* text-align: center; */



.input{
  width: 90%;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 25px;
  font-size: 40px;
}
input.job
   
