
h1{color:rgb(255, 255, 255);}
h3{color:rgb(255, 255, 255)}


body{
    font-family:Marvel Regular;
    margin:0;
    padding:20px;
    color:red;
    background-color: #8a272cff;
}

img{
    position:relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    z-index: 1;
}

h1{
   text-align: center;
   font-family:'Marvel-Regular' ;
}


h3{
    text-align: center;
    font-family:'Marvel-Regular' ;
 }

 input.placeholder {
    text-align: center;
}
.job {
    display: flex;
    justify-content: ;
}
/* top:350x; */
    
    /* left: 155px; */
    /* position: absolute; */
    /* border: none; */
    /* font-size: 17; */
    /* text-align: center; */

.delete{

}

.input{
  width: 400px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

   